<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tele -->
      <package
            uri="hu.bme.mit.inf.telecare"
            class="telecare.TelecarePackage"
            genModel="model/tele.genmodel"/>
   </extension>

</plugin>
